page-projetos {
    .ion-ios-close-circle:before{
 color: black;
margin-left: 280px;
font-size: 40px;
}
.searchbar-ios .searchbar-input{
    border: none !important;
}
ion-searchbar{
    background-color: transparent !important;
}
.ion-ios-trash:before{
    font-size: 40px;
    color: #4f413b;
   
}   

ion-icon{
    font-size: 20px;
    float: right;
}
}