page-projetos {
    .ion-ios-close-circle:before{
 color: black;
margin-left: 280px;
font-size: 40px;
}

.ion-ios-trash:before{
    font-size: 40px;
    color: #4f413b;
   
}   
.lixo {
    float: right;
}
}