page-login {
ion-title{
text-align: left !important;
}
.toolbar-title{
    text-align: left !important;
}
ion-content{
    background: url(../../assets//imgs//moveis-planejados.jpg);
    background-size: cover;

}
.item{
    background: transparent;
}
.scroll-content{
    background-color: rgba(79,65,59, 0.6);
 
}

.login{
    padding-top: 200px;
}
.button {
    margin-top: 8px;
}
ion-label {
    color: white !important;
}


}
