page-login {
ion-title{
text-align: left !important;
}
.toolbar-title{
    text-align: left !important;
}

.scroll-content{
    padding: 5px !important;
    background-image: linear-gradient(to bottom, white, rgb(82, 127, 118)); 
}
ion-content{
   // background-image: url(./../../assets/imgs/login.jpg);
 //  background-image: linear-gradient(to bottom, white, #527F76); 

    background-size: cover;

}


.logo{
    width: 140px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
img {
    padding-top: 50px;
}
.item{
    background: transparent;
}
.scroll-content{
    background-color: rgba(79,65,59, 0.6);
 
}

.login{
    padding-top: 100px;
}
.button {
    margin-top: 8px;
}
ion-label {
    color: white !important;
}


}
