page-detalhe-projeto {
    .button-block{
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
        border-radius: 8px;
        //padding: 2px;
        margin-right: 05px;
    
    }
    .ion-ios-trash:before{
        font-size: 40px;
        color: #4f413b;
        float: right;
       
    }   
    span{
        float: right;
    }
    .scroll-content{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    ion-icon{
        font-size: 35px;
        color: #4f413b;
    }
    
}
