page-clientes {
    .searchbar-ios .searchbar-input{
        border: none !important;
    }
    ion-searchbar{
        background-color: transparent !important;
    }

ion-icon{
    font-size: 20px;
    float: right;
}
   
}
