page-detalhe-cliente {
.btn-option{
    width: 45%;
    border: none;
    border-bottom: 1px solid black;
}
.button-block{
    width: 48%;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 8px;
    //padding: 2px;
    margin-right: 05px;

}

button#btn-cadastro{
    width: 100% !important
}
.ion-ios-trash:before{
    font-size: 40px;
    color: #4f413b;
   
}   
span {
    float: right;
}

.btn-right{
    float: right !important;
}

}
