page-adm-projeto {
    .button-block{
        width: 48%;
        border: none;
        border-bottom: 1px solid black;
        border-radius: 8px;
        //padding: 2px;
        margin-right: 05px;
    
    }
    .button-md{
        border: none;
    }
    .ion-md-checkmark-circle:before{
        color: green;
        font-size: 50px;
        float: right;
    }
    .ion-md-close-circle:before{
        color: red;
        font-size: 50px;
        padding-left: 10px;
    }
    .right{
        float: right;
    }

    p{
        float: right;
        padding-right: 10px;
    }
    ion-icon#icon-color{
        font-size: 35px;
        color: #4f413b;
    }
    .scroll-content{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .picture{
        margin-top: 20px;
        background-color: #aaa;
        border-radius: 10px;
        width: 70px;
        height: 70px;
        overflow: hidden;
        position: relative;
        padding-left: 0px;
        float: left;
        margin-right: 8px;
        margin-bottom: 10px;

    }
/*
    .picture:hover{
        margin-top: 20px;
        background-color: #aaa;
        border-radius: 10px;
        width: 300px;
        height: 300px;
        overflow: hidden;
        position: relative;
        padding-left: 0px;
        float: left;
        margin-right: 8px;
        margin-bottom: 10px;

    }*/
    .picture img {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
}
