page-adm-projeto {
    .button-block{
        width: 48%;
        border: none;
        border-bottom: 1px solid black;
        border-radius: 8px;
        //padding: 2px;
        margin-right: 05px;
    
    }
    .button-md{
        border: none;
    }
    .ion-md-checkmark-circle:before{
        color: green;
        font-size: 50px;
        float: right;
    }
    .ion-md-close-circle:before{
        color: red;
        font-size: 50px;
        padding-left: 10px;
    }
    .right{
        float: right;
    }

    p{
        float: right;
        padding-right: 10px;
    }
    ion-icon{
        font-size: 35px;
        color: #4f413b;
    }
    .scroll-content{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
}
