  
<ion-header>
  <ion-navbar [color]="theme">
    <ion-title>Contrato</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid *ngIf="projeto.tituloProjeto == undefined">

      <ion-card>
        <ion-card-content>    
              <ion-item>
    <ion-label floating>Nome contrato</ion-label>
    <ion-input [(ngModel)]="contrato.name"></ion-input>
</ion-item>

<ion-item>
    <ion-label floating>Descritivo</ion-label>
    <ion-input [(ngModel)]="contrato.descritivo"></ion-input>
  </ion-item>

  
<ion-item>
    <ion-label floating>Valor Total</ion-label>
    <ion-input [(ngModel)]="contrato.vlTotal"></ion-input>
  </ion-item>

  <ion-item (click)="openCalendar()">
    <ion-label  floating>Prazo de entrega</ion-label>
    <ion-input [(ngModel)]="contrato.prEntrega" readonly></ion-input>
</ion-item>

<ion-item>
    <ion-label floating>Contratante</ion-label>
    <ion-input [(ngModel)]="cliente.nome"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label floating>Cpf</ion-label>
      <ion-input [(ngModel)]="contrato.cpf"></ion-input>
  </ion-item>
<ion-item>
    <ion-label floating>Endereço</ion-label>
    <ion-input [(ngModel)]="cliente.endereco"></ion-input>
</ion-item>
<ion-item>
    <ion-label floating>Cep</ion-label>
    <ion-input [(ngModel)]="cliente.cep"></ion-input>
</ion-item>
<ion-item>
    <ion-label floating>Bairro</ion-label>
    <ion-input [(ngModel)]="cliente.bairro"></ion-input>
</ion-item>
<ion-item>
    <ion-label floating>Cidade</ion-label>
    <ion-input [(ngModel)]="cliente.cidade"></ion-input>
</ion-item>
<ion-item>
    <ion-label floating>Telefone</ion-label>
    <ion-input [(ngModel)]="cliente.tel"></ion-input>
</ion-item>

</ion-card-content>
</ion-card>

</ion-grid>


<ion-grid *ngIf="projeto.tituloProjeto != undefined">
<ion-card>
    <ion-card-content>
    
      <ion-item>
      <ion-label floating>Nome contrato</ion-label>
      <ion-input [(ngModel)]="contrato.name"></ion-input>
  </ion-item>
  
  <ion-item>
      <ion-label floating>Descritivo</ion-label>
      <ion-input [(ngModel)]="projeto.descricaoProjeto"></ion-input>
    </ion-item>
  
    
  <ion-item>
      <ion-label floating>Valor Total</ion-label>
      <ion-input [(ngModel)]="projeto.preco" [brmasker]="{money: true}"></ion-input>
    </ion-item>
  
      <ion-item (click)="openCalendar()">
          <ion-label  floating>Prazo de entrega</ion-label>
          <ion-input [(ngModel)]="contrato.prEntrega" readonly></ion-input>
    </ion-item>
  
  <ion-item>
      <ion-label floating>Contratante</ion-label>
      <ion-input [(ngModel)]="cliente.nome"></ion-input>
    </ion-item>
  
    <ion-item>
        <ion-label floating>Cpf</ion-label>
        <ion-input [(ngModel)]="contrato.cpf" [brmasker]="{mask:'000.000.000-00'}"></ion-input>
    </ion-item>
  <ion-item>
      <ion-label floating>Endereço</ion-label>
      <ion-input [(ngModel)]="cliente.endereco"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label floating>Cep</ion-label>
      <ion-input [(ngModel)]="cliente.cep" [brmasker]="{mask:'00000-120'}"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label floating>Bairro</ion-label>
      <ion-input [(ngModel)]="cliente.bairro"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label floating>Cidade</ion-label>
      <ion-input [(ngModel)]="cliente.cidade"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label floating>Telefone</ion-label>
      <ion-input [(ngModel)]="cliente.tel" [brmasker]="{mask:'(00) 00000-0000'}"></ion-input>
  </ion-item>
</ion-card-content>
</ion-card>

  </ion-grid>

<ion-card>
    <ion-card-content style="padding-top: 0px; padding-bottom: 0px; ">
      <ion-item (click)="createPdf()">
<label>Gerar Contrato</label>        <ion-note item-end>
    <ion-icon id="icon-color" ios="ios-document" md="md-document"></ion-icon> </ion-note>
        <br/>
      </ion-item>
    </ion-card-content>
  </ion-card>


</ion-content>
