// http://ionicframework.com/docs/theming/
.circle {
  background-color: #aaa;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-left: 48px;
  padding-left: 0px !important;
}

.circle img {
  position: absolute;
  bottom: 0;
  width: 100%;
  }

.menu-color{
  //background-image: url('../assets/imgs/menu-img.jpg');
    background-image: linear-gradient(to bottom, white, #527F76); 
    width: 100%;
    padding: 0px;
    height: 50%;
}

.menu-purple{
  background-image: linear-gradient(to bottom, white, purple); 
    width: 100%;
    padding: 0px;
    height: 50%;
}

.menu-blue{
  background-image: linear-gradient(to bottom, white, Navy); 
    width: 100%;
    padding: 0px;
    height: 50%;
}
.menu-black{
  background-image: linear-gradient(to bottom, white, black); 
    width: 100%;
    padding: 0px;
    height: 50%;
}
ion-footer#menu-footer{
    height: 40px;
    text-align: center;
    padding-top: 05px;
    background-color: #527F76;
    color: white;
}

  ion-icon#menu-icon{
      font-size: 30px;
      color: #4f413b;
  }

  div#picture-position{
    padding-top: 25%; 
    text-align: center;
  }
  

  button#logout{
    text-align: center;
    margin-top: 10px;
    //margin-right: 10px;
    background: transparent;
    border-bottom: 1px solid #4f413b;
    color: #527F76;
    border-radius: 5px;
    font-size: 15px;
    //padding-left: 10px;
    //padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    //float: right;
  }
  div#btn-logout{
    margin-top: 20%;
    text-align: center;
  }



  @media screen and (max-height: 680px) {
    .menu-color{
      //background-image: url('../assets/imgs/menu-img.jpg');
      background-image: linear-gradient(to bottom, white, #527F76); 
      width: 100%;
      padding: 0px;
      height: 55%;
  }
  
  .menu-purple{
    background-image: linear-gradient(to bottom, white, purple); 
      width: 100%;
      padding: 0px;
      height: 55%;
  }
  
  .menu-blue{
    background-image: linear-gradient(to bottom, white, Navy); 
      width: 100%;
      padding: 0px;
      height: 55%;
  }
  .menu-black{
    background-image: linear-gradient(to bottom, white, black); 
      width: 100%;
      padding: 0px;
      height: 55%;
  }
  div#btn-logout{
    margin-top: 10%;
    text-align: center;
  }
  
  }

  @media screen and (max-height: 570px) {
    div#btn-logout{
      margin-top: 0px;
      text-align: center;
    }
    button#logout{
    margin-top: 2px;
    }
  }
  .toolbar-content-md{
    padding-top: 0px !important;
  }

  .bar-button-default-md{
    padding-top: 10px !important;

  }
  .toolbar-title-md{
    padding-top: 12px !important;

  }

  .toolbar-md-primary .bar-button-clear-md, .toolbar-md-primary , .toolbar-md-primary .bar-button-outline-md, .toolbar-md-primary {
    padding-top: 18px !important;

  }

  

